header {
    position: relative;
    margin-top: 150px;
}

nav  {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    font-size: 14px;
    display: inline;
    
}
nav li {
    display: inline;
    margin: 20px;
    font-size: 1.5rem;
   
    
}
a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 10rem;
   
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    font-size: 14px;
   }
